

<h1>Home Page</h1>
<div class="container d-flex flex-column justify-content-center mt-4 ml-5">

  <div class="row">
    <div class="col mb-2">
      <%=image_tag image_path("home/peach-farm.jpg"), alt: "home", size: "370x230" %>
  
      <%=image_tag image_path("home/b-berry-farm.jpg"), alt: "home", size: "280x230" %>
      
      <%=image_tag image_path("home/mango-farm-1.jpg"), alt: "home", size: "300x230" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%=image_tag image_path("home/strawberry-farm-1.jpg"), alt: "home", size: "300x230" %>
    
      <%=image_tag image_path("home/pear-farm.jpg"), alt: "home", size: "310x230" %>
    
      <%=image_tag image_path("home/dragon-farm.jpg"), alt: "home", size: "340x230" %>
    </div>
  </div>
</div>



