<h1>Local Farmers</h1>


<% @farmers.each do |farmer| %>
<div class="row row-cols-5 mb-3">
  <div class="col-5">
    <%=image_tag farmer_pic(farmer), alt: "#{farmer.name} image", class: 'mt-3', style: 'width: 100%;'%>
  </div>

  <div class="col-7 mt-4">
    <article>
      
      <span><strong>Farmer: </strong><%= farmer.name %></span><br>
  
      <span ><strong>Fruit: </strong><%= farmer.fruit_types %></span><br>
   
      <span><strong>Address:</strong><%= farmer.address %></span><br>
    
      <span><strong>Introdution: </strong><%= farmer.introduction %></span>
    
    </article>
  


    <div class="show-edit-delete">
      <%= link_to 'View', farmer_path(farmer.id), class: 'btn btn-info sm'%>

      <% if user_signed_in? %>
        <% if current_user.admin || current_user.farmer == farmer %>
          <%= link_to 'Edit', edit_farmer_path(farmer.id), class: 'btn btn-info sm'%>

          <%= link_to 'Delete', farmer_path(farmer.id), method: :delete, class: 'btn btn-info sm', data: { confirm: "Really delete #{farmer.name}?"} %>
        <% end %>
      <% end %>
      
        <%= link_to products_path, class: 'btn' do %>
           <%= image_tag 'back.png', size: '25x25' %>
          <% end %>
    </div>
  </div>
</div>

<% end %>
