
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>


<div class="row content mt-3 d-flex justify-content-center">
  <div class="col-md-8 d-flex justify-content-center">
    <%= image_tag farmer_pic(@farmer) , alt: "#{@farmer.name} image", class: 'mt-2', style: 'width:100%;' %>
  </div>
  <div class="col-md-8 text-align-center mt-3">
  
    <div>
      <strong>Farmer:  </strong>
      <span><%= @farmer.name %></span>
    </div>

    <div>
      <strong>Fruit Types:  </strong>
      <span><%= @farmer.fruit_types %></span>
    </div>

    <div>
      <strong>Address:  </strong>
      <span><%= @farmer.address %></span>
    </div>

    <div>
      <strong>Introduction:  </strong>
      <span><%= @farmer.introduction %></span>
    </div>

   
    
    
    <div class="show-edit-delete mt-3">

       <% if user_signed_in? && (current_user.farmer == @farmer || current_user.admin?) %>
          <%= link_to 'Edit', edit_farmer_path(@farmer), class: 'btn btn-info sm'%>
          <%= link_to 'Delete', farmer_path(@farmer), method: :delete, class: 'btn btn-danger sm', data: { confirm: "Really delete #{@farmer.name}?"} %>
      <% end %> 
      <div class="d-flex justify-content-end">
        <%= link_to farmers_path, class: 'btn' do %>
            <%= image_tag 'back.png', size: '30x30' %>
        <% end %> 
      </div>
              
    </div>

  </div>
</div>
