
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>


<div class="row content mt-3 ">
  <div class="col-6 md-5 mt-5">
    <%= image_tag farmer_pic(@farmer) , alt: "#{@farmer.name} image", class: 'mt-2', style: 'width:100%;' %>
  </div>
  <div class="col-6 d-flex flex-column justify-content-center md-5 mt-5">
  
    <div>
      <strong>Farmer :  </strong>
      <span><%= " "+ @farmer.name %></span>
    </div>

    <div>
      <strong>Fruit Types :  </strong>
      <span><%= " "+ @farmer.fruit_types %></span>
    </div>

    <div>
      <strong class="mr-2">Address: </strong>
      <%= link_to farm_locations_path + "/#{@farmer.id}" do %>
        <%= image_tag 'map.png', size: '30x30' %>
      <% end %>
    </div>   

    <div>
      <strong>Introduction :  </strong>
      <span><%=" "+  @farmer.introduction %></span>
    </div>
</div>

  
  <div class="col-12 d-flex justify-content-end show-edit-delete mt-3 ">

      <% if user_signed_in? && (current_user.farmer == @farmer || current_user.admin?) %>
        <%= link_to 'Edit', edit_farmer_path(@farmer), class: 'btn btn-info sm  mb-2'%>
        <%= link_to 'Delete', farmer_path(@farmer), method: :delete, class: 'btn btn-danger sm ml-2 mb-2', data: { confirm: "Really delete #{@farmer.name}?"} %>
    <% end %> 
    <div class="d-flex justify-content-end">
      <%= link_to farmers_path, class: 'btn' do %>
          <%= image_tag 'back.png', size: '30x30' %>
      <% end %> 
    </div>
            
  </div>

  <div class=" row col-12 mt-5 ">
      <div class="col-6 mt-4">
        <%= render @farmer.messages %>
      </div>

      <div class="col-6">
        <h3>Add your Message: </h3>
        <%= render 'messages/form' %>
      </div> 
      
    </div>

  

