
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>


<div class="row content mt-3">
  <div class="col-md-4 d-flex justify-content-center">
    <%= image_tag picture_for(@farmer) , alt: "#{@farmer.title} image", class: 'mt-2', style: 'width:80%;' %>
  </div>
  <div class="col-md-8 text-align-center">
    <h1><%= @farmer.title %></h1>
    <div>
      <strong>Farmer:  </strong>
      <span><%= @farmer.farmer.name %></span>
    </div>

    <div>
      <strong>Rank:  </strong>
      <span><%= @farmer.rank %></span>
    </div>

    <div>
      <strong>Quantity:  </strong>
      <span><%= @farmer.quantity %></span>
    </div>

    <div>
      <strong>Description:  </strong>
      <span><%= @farmer.description %></span>
    </div>

    <div>
      <strong>Price:  </strong>
      <span><%= @farmer.price %></span>
    </div>
    
    
    <div class="show-edit-delete">

       <% if (current_user.farmer == @farmer.farmer) || current_user.admin? %>
          <%= link_to 'Edit', edit_farmer_path(@farmer), class: 'btn btn-info sm'%>
          <%= link_to 'Delete', farmer_path(@farmer), method: :delete, class: 'btn btn-danger sm', data: { confirm: "Really delete #{@farmer.title}?"} %>
      <% end %>
        <% if user_signed_in? %>
            <%= link_to 'Home', farmers_path, class: 'btn btn-primary sm' %>
            <%= link_to "Add to cart", carts_path(farmer_id: @farmer.id), method: :post %> 
        <% else %>   
            <%= link_to 'Back', farmers_path, class: 'btn btn-primary sm' %>   
        <% end %>       
    </div>

  </div>
</div>
