
<h1>My Cart</h1>


<div class="row col-12 justify-content-around">
  <% @cart.cart_products.each do |cart_product| %>
    <% product = cart_product.product %>
 
      <div class="card my-3 col-md-4 col-xs-12" style="max-width:15%; min-width:15rem;">
      
  
      <%= image_tag picture_for(product), alt: "#{product.title} image", style: 'width:100%;',class: "card-img-top img_fluid" %>
      <div class="card-body">
        <p class="card-text"><%= product.title %></p> 
        <div class="d-flex justify-content-between">
          <%= number_to_currency(product.price)+ " aud"%>  
          <%= link_to carts_path + "/#{cart_product.id}", method: :delete, data: { confirm: "Confirm remove #{product.title} from your cart?"} do %>
            <%= image_tag 'delete.png', size: '30x30' %>
          <% end %>
        </div>
      </div>
    </div>
  
  <% end %>
</div>

<div class="row col-12 d-flex justify-content-center mb-1 mt-3">
  <table class="table" style="width: 65%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    
    <% @cart.cart_products.each do |cart_product| %>
      <tr>
          <td><%= cart_product.product.title %></td>
          <td><%= number_to_currency(cart_product.product.price) + " aud" %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total amount:</td>
      <% total = @cart.cart_products.inject(0) {|sum, cart_product| sum + cart_product.product[:price]}%>
      <td><%= number_to_currency(total) + " aud" %></td>
    </tr>
    
  </table>
</div>

<div class="row col-12 d-flex justify-content-center" id="post-form">

  <form  style="width: 65%">
    <div class="form-row ">

      <div class="col-md-6 mb-3" >
        <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Name" required>
      </div>

      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" id="validationDefault02" placeholder="Address" value="Address" required>
      </div>
    </div>
    <div class="form-row d-flex justify-content-center"">
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
      </div>

      <div class="col-md-4 mb-3">
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>State</option>
          <option value="1">Victoria</option>
          <option value="2">New South Wales</option>
          <option value="3">Queensland</option>
          <option value="3">WA</option>
          <option value="3">Tasmania</option>
          <option value="3">SA</option>

        </select>
      </div>

      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" id="validationDefault05" placeholder="Post Code" required>
      </div>
    </div>
  </form>
</div>


 <div class="row col-12 d-flex justify-content-center">
 <p>Note: If the form is not filled, it will send to the address you registered.</p> 
</div>
<div class="row col-10 d-flex justify-content-end mt-3 mb-5">
  
    <%= link_to "Purchase All Now 💵", "", id: "stripe", class: "btn btn-success mr-2" %>  
    <%= link_to "Products", products_path, class: 'btn btn-primary sm mr-2' %>
    <%= link_to 'javascript:history.go(-1);' do %>
      <%= image_tag 'back.png', size: '30x30' %>
    <% end %> 
  
</div>





<%= javascript_pack_tag "stripe" %>

