
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>


<div class="row content mt-3">
  <div class="col-md-4 d-flex justify-content-center">
    <%= image_tag picture_for(@product) , alt: "#{@product.title} image", class: 'mt-2', style: 'width:80%;' %>
  </div>
  <div class="col-md-8 text-align-center">
    <h1><%= @product.title %></h1>
    <div>
      <strong>Farmer:  </strong>
      <span><%= @product.farmer.name %></span>
    </div>

    <div>
      <strong>Rank:  </strong>
      <span><%= @product.rank %></span>
    </div>

    <div>
      <strong>Quantity:  </strong>
      <span><%= @product.quantity %></span>
    </div>

    <div>
      <strong>Description:  </strong>
      <span><%= @product.description %></span>
    </div>

    <div>
      <strong>Price:  </strong>
      <span><%= @product.price %></span>
    </div>
    
    
    <div class="show-edit-delete">

       <% if current_user.farmer == @product.farmer%>
          <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-info sm'%>
          <%= link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger sm', data: { confirm: "Really delete #{@product.title}?"} %>
      <% end %>
        <% if user_signed_in? %>
            <%= link_to 'Home', products_path, class: 'btn btn-primary sm' %>
            <%= link_to "Purchase", "", id: "stripe" %> 
        <% else %>   
            <%= link_to 'Back', products_path, class: 'btn btn-primary sm' %>   
        <% end %>       
    </div>

  </div>
</div>

<%= javascript_pack_tag "stripe" %>