
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>


<div class="row content d-flex justify-content-center">
  <div class="col-md-8 d-flex justify-content-center">
    <%= image_tag picture_for(@product) , alt: "#{@product.title} image", class: 'mt-2', style: 'width:50%;' %>
  </div>

  <div class="col-md-5 ml-5 mt-3 justify-content-center" style= 'width:65%;' id="product-show">
    <h4><%= @product.title %></h4>
    <div>
      <strong>Farmer:  </strong>
      <span><%= @product.farmer.name %></span>
    </div>

    <div>
      <strong>Rank:  </strong>
      <span><%= @product.rank %></span>
    </div>

    <div>
      <strong>Quantity:  </strong>
      <span><%= @product.quantity %></span>
    </div>

    <div>
      <strong>Description:  </strong>
      <span><%= @product.description %></span>
    </div>

    <div>
      <strong>Price: </strong>
      <span><%= number_to_currency(@product.price) %> aud</span>
    </div>
    
  </div>

  <div class=" col-md-6 show-edit-delete d-flex justify-content-end mt-3 mr-5" >
    
    <% if user_signed_in? %>
       <%= link_to carts_path(product_id: @product.id), method: :post do %> 
          <%= image_tag 'add-to.png', size: '35x35' %>
        <% end %> 
      

      <% if user_signed_in? && (current_user.farmer == @product.farmer|| current_user.admin?) %>
          <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-info sm ml-2 mr-2'%>
          <%= link_to 'Delete', product_path(@product), method: :delete, class: 'btn btn-danger sm mr-2', data: { confirm: "Really delete #{@product.title}?"} %>
      <% end %>
    <% end %>

    <%= link_to 'javascript:history.go(-1);' do %>
      <%= image_tag 'back.png', size: '30x30' %>
    <% end %> 
              
  </div>

  
</div>
