<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to products_path, class: 'navbar-brand ml-3' do %> 
    <%= image_tag 'dragon-fruit.png', size: '50x50' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to farmers_path, class: 'btn btn-light ml-1 mb-1' do %>
        <%= image_tag 'farmer.png', size: '30x30' %>
      <% end %>
      
      <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-light mb-1 ml-1' %>
    
      <% if user_signed_in? && current_user.farmer %> 
          <%= link_to new_product_path, class: 'btn btn-light mb-1 ml-1' do %>
            <%= image_tag 'add-product.png', size: '25x25' %>
          <% end %>

        <% elsif user_signed_in? && current_user.admin %>
          <%= link_to dashboard_path, class: 'btn btn-light mb-1 ml-1' do %> 
            <%= image_tag 'admin.png', size: '30x30' %>
          <% end %>

      <% end %>

      <% if user_signed_in? %>
        <%= link_to carts_path, class: 'btn btn-light ml-1 mb-1' do %>
          <%= image_tag 'cart.png', size: '30x30' %>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-nav">

      <div class="ml-4 mr-2">  
        <div class="form-inline my-2 my-lg-0 d-flex justify-content-center ml-5">
          <%= form_tag(search_path, :method => "get", class: "form-inline my-2 my-lg-0 d-flex justify-content-center") do %>   
            <%= search_field_tag :search, params[:search], class: "form-control" %>  
            <button class="btn btn-light my-2 my-sm-0" type="submit"><%= image_tag 'search.png', size: '30x30' %></button> 
          <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-warning ml-1 mb-1' %>
      <% else %>
        <%= link_to 'User sign up', new_user_registration_path(user_type: "normal"), class: 'btn btn-outline-success mb-1 ml-1' %>
        <%= link_to 'Farmer sign up', new_user_registration_path(user_type: "farmer"), class: 'btn btn-outline-success mb-1 ml-1' %>

        <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-success mb-1 ml-1' %>
      <% end %>
    </div>
  </div>
</nav>