<!DOCTYPE html>
<html>
  <head>
    <title>FruitMarketplaceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= favicon_link_tag asset_path('pear.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag :application %> 
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>

    <%= render 'layouts/nav' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
